.Contenu {
    background-color: #353549;
    min-height: 105vh;
    
    font-size: 1.5em;
    color: white;

    h2, h3{
      text-align: center;
    }

    p {
      margin-left: 5vw;
      margin-right: 5vw;
      margin-bottom: 5vh;
      text-align: center;
    }

    .Competences {
      width: 70%;
      padding-left: 25%;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      h6 {
        margin-top: -7%;
      }

      .NomComp {
        width: 40%;
      }

      .Slider {
        width: 30%;
      }
    }

    .Projets {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    a {
      margin: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .Contenu {
      min-height: 200vh;
      
      .Projets {
        justify-content:center;
        flex-direction: column;
      }
    }    
  }